.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid rgb(229, 217, 217);
    box-shadow: 1px 2px 4px black;
}

.header-icon {
    padding: 5px;
}

.header-logo {
    object-fit: contain;
    width: 40px;
}