.app {}

body {
    background: linear-gradient(20deg, rgba(255, 0, 0, 0.357), #6be3435f, rgba(255, 255, 0, 0.512));
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    overflow-x: hidden;
}